html body 
{
	margin: 0px;
	padding: 0px;
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
}
h1 
{
	font-size: 1.5em;
}
h2 
{
	color: #882D9E;
	text-align: center;
	font-size: 1.75em;
}
h3 
{
	color: #000000;
	text-align: center;
	font-size: 1.25em;
}	
h4 
{
	color: #882D9E;
	text-align: center;
	font-size: 1.15em;
}
#question-name
{
	color: #882D9E;
	text-align: center;
	font-size: 1.5em;
	padding: 5%5%5%5%;
}
body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 20px;
	background-color: #eee;
}

input 
{
	border: none;
	display: inline-block;
	color: #555555;

	vertical-align: middle;
	font-size: 1em;
	line-height: 20px;
	font-weight: 300;
	overflow: auto;
}

input:focus
{
	outline: none;
}
#quiz-preloader
{
	position:absolute;
	width:100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #F0A;
	font-size: 2em;
	z-index:10;
}
.preloader-text
{
	position: relative;
	top: 50%;
}
#quiz-instructions-view
{
	position:absolute;
	width:100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #F0A;
	font-size: 1.15em;
	line-height: 150%;
	z-index: 2;

}
.quiz-instructions{
	position: relative;
	top: 15%;
	padding:2%2%2%2%;
}
.site-header 
{
	display: block;
	color: #e5e5e5;
	background-color: #2E313D;
	border-bottom: 1px solid #1a1a1a;
	width: auto;
	height: 50px;
	padding: 0px;
	-webkit-appearance: none;
	-webkit-box-shadow: 0px 2px 0 #e5e5e5;
	-moz-box-shadow: 0px 2px 0 #e5e5e5;
	box-shadow: 0px 2px 0 #e5e5e5;
}

.site-name {
	margin-left: 15px;
	padding-top: 20px;
	text-decoration: none;
	color: white;
	font-size: 1.1em;
}

.quiz-content {
	padding: 15px 15px 10px 15px;
}
#correct-incorrect{
	height:18px;
	text-align: center;
	font-size: 1.25em;
	padding-top:10px;
	padding-bottom: 4px;
}
.quiz-buttons {
	text-align: center;
}
input {
	display: block;
	width: 100%;
	height: 2em;
	text-align: center;

	-webkit-appearance: none;
	-webkit-box-shadow: 3px 3px 0 #e1e1e1;
	-moz-box-shadow: 3px 3px 0 #e1e1e1;
	box-shadow: 3px 3px 0 #e1e1e1;
}

.output {
	font-weight: bold;
	font-size: 1.25em;
	width: 100%;
	height: 40px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 30px;
	color: #0093DD;

	-webkit-appearance: none;
	-webkit-text-shadow: 0px 3px 0 #eee;
	-moz-text-shadow: 0px 3px 0 #eee;
	text-shadow: 0px 3px 0 #eee;
}
#input-IME
{
	height:2em;
	font-size: 1.5em;
}
.green-sea-flat-button 
{
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 40px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #16a085;
  border: 0;
  border-bottom: 2px solid #14947b;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #14947b;
  box-shadow: inset 0 -2px #14947b;
}
.green-sea-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
	h1 
	{
		font-size: 1.25em;
	}
	h2 
	{
		color: #882D9E;
		text-align: center;
		font-size: 1.2em;
	}
	h3 
	{
		color: #000000;
		text-align: center;
		font-size: 1.15em;
	}	
	h4 
	{
		color: #882D9E;
		text-align: center;
		font-size: 1em;
	}




}